Source: ros-jazzy-bno055
Section: misc
Priority: optional
Maintainer: flynneva <evanflynn.msu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, python3-serial, python3-smbus, ros-jazzy-ament-copyright <!nocheck>, ros-jazzy-ament-flake8 <!nocheck>, ros-jazzy-ament-pep257 <!nocheck>, ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-bno055
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-serial, python3-smbus, ros-jazzy-example-interfaces, ros-jazzy-rclpy, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: Bosch BNO055 IMU driver for ROS2
